<ion-view title="Car Pooling">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div class="list card">
	     <div class="item item-body">
			<img class="full-image" src="img/Pool_It.jpg">
			<p>
			Carpooling is the sharing of car journeys so that more than one person travels in a car.By having more people using one vehicle, carpooling reduces each person's travel costs such as fuel costs, tolls, and the stress of driving.
			</p>
			<p>
			 Carpooling is seen as a more environmentally friendly and sustainable way to travel as sharing journeys reduces carbon emissions, traffic congestion on the roads, and the need for parking spaces. Authorities often encourage carpooling, especially during high pollution periods and high fuel prices.
			</p>
	    </div>
	    <div class="item tabs tabs-secondary tabs-icon-left">
			<a class="tab-item" href="#"><i class="icon ion-thumbsup"></i>Like</a>
			<a class="tab-item" href="#"><i class="icon ion-chatbox"></i>Comment</a>
			<a class="tab-item" href="#"><i class="icon ion-share"></i>Share</a>
	   </div>
	</div>
  </ion-content>
</ion-view>
